body {
    width: 95vw;
    height: 95vh;
}

.chart {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* hide scrollbar for IE */
    -ms-overflow-style: none;
}

/* Hide scrollbar for webkit browsers */
.chart::-webkit-scrollbar {
    display: none;
}

.bar {
    display: block;
    flex: 0 0 auto;
    width: 20px;
    height: 95vh;
}