body, .chart-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.chart {
    height: 90%;
    padding: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* hide scrollbar for IE */
    -ms-overflow-style: none;
}

/* Hide scrollbar for webkit browsers */
.chart::-webkit-scrollbar {
    display: none;
}

.prices {
    height: 90%;
    padding: 0;
}

.bar {
    display: block;
    flex: 0 0 auto;
    width: 20px;
    height: 95vh;
}